<!DOCTYPE html>{% load pwa %}{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <title>Graitfy</title>
    {% progressive_web_app_meta %}
</head>
<nav class="container-fluid">
    <div class="logo">
        <!-- <img src="" alt="" srcset=""> -->
        <h4>Grabitfy</h4>
    </div>
    <ul id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <li><a href="#" target="_blank" rel="noopener noreferrer">Home</a></li>
        <li><a href="#" target="_blank" rel="noopener noreferrer">Category</a></li>
        <li><a href="#" target="_blank" rel="noopener noreferrer">About us</a></li>
        <li><a href="#" target="_blank" rel="noopener noreferrer">Contact us</a></li>
        <li><a href="#" target="_blank" rel="noopener noreferrer">Policies</a></li>
    </ul>
    <!-- <div id="mySidenav" class="sidenav">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div> -->
    <ul id="menus_2">
        <li><a href="#" target="_blank" rel="noopener noreferrer">Log-in</a></li>
        <li><a href="#" target="_blank" rel="noopener noreferrer">Log-out</a></li>
        <li><a href="#" target="_blank" rel="noopener noreferrer">Create Account</a></li>
        <li>
            <a href="#" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
            </svg>
                <sup style="padding: 0px;margin: 0px;">10</sup>
            </a>
        </li>
    </ul>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>


    <body>
        <h1>homepage</h1>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <!-- <script>
        const humburger = document.getElementById('humburger')

        function menu() {
            if (humburger.click) {
                document.getElementById('menus_1').style.display = 'flex'
                document.getElementById('menus_2').style.display = 'flex'
                    // document.getElementsByTagName('nav').style.flex
            }
        }
    </script> -->
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </body>